@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.gradient_text {
  /** TEXT GRADIENT */
  color: #3559e0;
  background-image: -webkit-radial-gradient(circle, #3559e0 0%, #0f2167 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}


.bg{
    /* background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100'); */
    background-image: url('./assets/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.glass_effect {
    backdrop-filter: blur(5px) saturate(169%);
    background-color: rgba(17, 25, 40, 0);
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-color: #fde7f9;
    background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
}



.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px #eee;
  cursor:pointer;
 }


.btn:hover {
  background-position: left center;
}

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 30%, #fda085 51%, #f6d365 100%);
  background-position: right center; /* change the direction of the change here */
}


